.list{
    // width: 100%;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px; 


}

@media screen and (max-width: 1200px) {
    .list {
        display: flex;
        justify-content: center;
        gap: 20px; 
    }
}