.list{
    max-width: 1500px;
    width: 90%;
    margin: auto;
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 20px; 
}

.center {
    background-color: black;
}

@media screen and (max-width: 1200px) {
    .list {
        display: flex;
        justify-content: center;
        gap: 20px; 
    }
}

