* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a{
  color: white;
  text-decoration: none;

}

body {
  background-color: #ffffff;

}
/* #root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.container {
  max-width: 1500px;
  margin: auto;
}

.fon {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 120vh;
  z-index: -10;
  filter: blur(10px);
  object-fit: cover;
}
