header{
    width: 100%;
    height: 85px;
    padding: 20px 30px;
    background-color: #3B555D;
    nav {
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        .logo {
            display: flex;
            align-items: center;
            font-size: 30px;
            padding: 3px;
            gap: 2px;
            border-radius: 5px;
            
        }
        .logo:hover {
            transition: 0.1s;
            outline:3px double white;
        }


        .nav_inp {
            padding: 10px;
            font-size: 18px;
            width: 40%;
            padding-left: 35px;
            padding-right: 10px;
            background: url("../icon/Search.svg")  no-repeat;
            filter: invert(1);
            background-size: 20px;
            background-position: 10px;
            color: rgb(0, 0, 0);
            border-radius: 20px;
            border: 2px solid #000000;
            text-transform: capitalize;
            box-shadow: 0px 0px 10px -2px rgb(0, 0, 0);
        }
        
        .nav_inp:focus {
            outline: none;  
            box-shadow  : 0px 0px 5px 0px rgb(0, 0, 0);
            
        }

        .search_adptive {
            display: none;
        }

        .nav_icon {
            // filter: grayscale(100%) brightness(0%);
            width: 45px;
            border-radius: 100%;
        }
        .nav_icon:hover {
            opacity: 0.7;
        }
        .nav_logo {
        
            margin: 0 auto;
            background: url("../icon/logo.png") ;
            background-size: cover;
            border-radius: 100px;
            width: 30px;
            height: 30px;
            animation:10s linear 0s normal none infinite running rot;
    
            @keyframes rot {
                0% {
                   transform: rotate(0deg);
                }   
                100% {
                   transform: rotate(360deg);
                }
               }
            
        }
    
    }
}

@media screen and (max-width: 900px) {
    header {
        nav {
            a {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        nav {
            .nav_inp {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    header{
        width: 100%;
        height: 85px;
        padding: 20px 20px;
        nav {
            gap: 20px;
            .logo {
                font-size: 25px;
            }
            .nav_logo {
                width: 25px;
                height: 25px;
            }
            a {
                font-size: 15px;
            }
            .search_adptive {
                right: 19px;
                left: 20px;
            }
        }

    }
}
